
1D_Benchmark_continuous/

1D_Benchmark_discontinuous/

reaction_diffusion/

hierarchical_MF_output_figures.py

tensorflow-gpu
reactiondiffusion/data
reactiondiffusion/HPO
reactiondiffusion/models
reactiondiffusion/models_def
reactiondiffusion/models_new
AirPollution/models
NavierStokes/models
1D_Benchmark_linear
1D_Benchmark_linear/models
.vs
Figures/
1D_Benchmark_linear/models/checkpoint
1D_Benchmark_linear/models/class_model1_traj_Dense0_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense0_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense1_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense1_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense2_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense2_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense3_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense3_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense4_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense4_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense5_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense5_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense6_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense6_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense7_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense7_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense8_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense8_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense9_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense9_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense10_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense10_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense11_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense11_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense12_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense12_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense13_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense13_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense14_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense14_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense15_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense15_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense16_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense16_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense17_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense17_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense18_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense18_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense19_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense19_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense20_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense20_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense21_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense21_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense22_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense22_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense23_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense23_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense24_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense24_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense25_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense25_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense26_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense26_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense27_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense27_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense28_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense28_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense29_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense29_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense30_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense30_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense31_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense31_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense32_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense32_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense33_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense33_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense34_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense34_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense35_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense35_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense36_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense36_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense37_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense37_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense38_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense38_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense39_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense39_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense40_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense40_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense41_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense41_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense42_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense42_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense43_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense43_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense44_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense44_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense45_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense45_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense46_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense46_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense47_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense47_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense48_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense48_scaled.index
1D_Benchmark_linear/models/class_model1_traj_Dense49_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model1_traj_Dense49_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense0_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense0_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense1_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense1_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense2_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense2_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense3_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense3_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense4_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense4_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense5_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense5_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense6_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense6_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense7_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense7_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense8_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense8_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense9_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense9_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense10_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense10_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense11_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense11_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense12_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense12_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense13_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense13_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense14_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense14_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense15_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense15_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense16_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense16_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense17_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense17_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense18_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense18_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense19_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense19_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense20_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense20_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense21_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense21_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense22_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense22_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense23_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense23_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense24_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense24_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense25_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense25_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense26_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense26_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense27_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense27_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense28_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense28_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense29_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense29_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense30_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense30_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense31_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense31_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense32_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense32_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense33_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense33_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense34_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense34_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense35_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense35_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense36_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense36_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense37_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense37_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense38_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense38_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense39_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense39_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense40_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense40_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense41_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense41_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense42_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense42_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense43_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense43_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense44_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense44_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense45_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense45_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense46_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense46_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense47_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense47_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense48_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense48_scaled.index
1D_Benchmark_linear/models/class_model2_traj_Dense49_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model2_traj_Dense49_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense0_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense0_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense1_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense1_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense2_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense2_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense3_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense3_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense4_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense4_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense5_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense5_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense6_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense6_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense7_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense7_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense8_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense8_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense9_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense9_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense10_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense10_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense11_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense11_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense12_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense12_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense13_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense13_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense14_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense14_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense15_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense15_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense16_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense16_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense17_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense17_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense18_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense18_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense19_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense19_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense20_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense20_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense21_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense21_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense22_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense22_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense23_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense23_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense24_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense24_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense25_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense25_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense26_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense26_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense27_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense27_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense28_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense28_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense29_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense29_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense30_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense30_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense31_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense31_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense32_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense32_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense33_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense33_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense34_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense34_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense35_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense35_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense36_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense36_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense37_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense37_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense38_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense38_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense39_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense39_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense40_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense40_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense41_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense41_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense42_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense42_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense43_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense43_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense44_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense44_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense45_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense45_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense46_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense46_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense47_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense47_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense48_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense48_scaled.index
1D_Benchmark_linear/models/class_model3_traj_Dense49_scaled.data-00000-of-00001
1D_Benchmark_linear/models/class_model3_traj_Dense49_scaled.index
Interactive-1.ipynb

1D_Benchmark_linear/HPO/

data_car/

progressive_networks/progressive_networks_dense.py

prova.py

car/models/

.vs/hierarchical_multifidelity/v17/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite
1D_Benchmark_linear/models/model1_traj0Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj0Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj1Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj2Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj3Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj4Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj5Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj6Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj7Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj8Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj9Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj0Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj1Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj2Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj3Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj4Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj5Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj6Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj7Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj8Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj9Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj0Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj1Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj2Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj3Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj4Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj5Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj6Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj7Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj8Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj9Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj0Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj0Dense_scaled.weights.h5
airpollution_result_zoom1.svg
airpollution_result_zoom2.svg
airpollution_result.svg
Cleaned_AirQualityUCI.csv
data_test_input.h5
data_test_output.h5
data_test.h5
data_train_input.h5
data_train_output.h5
data_train.h5
ipython.html
POM_x.pkl
1D_Benchmark_linear/models/model1_traj1Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj2Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj3Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj4Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj5Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj6Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj7Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj8Dense_scaled.weights.h5
1D_Benchmark_linear/models/model1_traj9Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj0Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj1Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj2Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj3Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj4Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj5Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj6Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj7Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj8Dense_scaled.weights.h5
1D_Benchmark_linear/models/model2_traj9Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj0Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj1Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj2Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj3Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj4Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj5Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj6Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj7Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj8Dense_scaled.weights.h5
1D_Benchmark_linear/models/model3_traj9Dense_scaled.weights.h5
__pycache__/ann_functions.cpython-39.pyc
__pycache__/ann_functions.cpython-310.pyc
__pycache__/multifidelity_NN_functions.cpython-39.pyc
__pycache__/multifidelity_NN_functions.cpython-310.pyc
__pycache__/progressive_network.cpython-39.pyc
__pycache__/progressive_network.cpython-310.pyc
tensorflow-gpu/bin/activate.csh
__pycache__/ann_functions.cpython-312.pyc
__pycache__/multifidelity_NN_functions.cpython-312.pyc
__pycache__/progressive_network.cpython-312.pyc
reactiondiffusion/.DS_Store
.venv
*.svg
*.png